<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="gov.nasa.ensemble.core.plan.editor.drudgery.editorContribution1"
            targetID="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor">
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.HopLeftAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
               label="Hop Left"
               menubarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.HopRightAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
               label="Hop Right"
               menubarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToEndAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
               icon="icons/align-end.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
               label="Align to End"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.CopyManyTimesAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
               icon="icons/clone.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
               label="Copy Many Times"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToStartAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
               icon="icons/align-start.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
               label="Align to Start"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeEvenlyAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
               icon="icons/distr-even.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
               label="Distribute Evenly"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeByAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
               icon="icons/distr-x.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
               label="Distribute By"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.CompressAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.compress"
               icon="icons/compress-activities.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.compress"
               label="Compress"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.constraints.ConstrainExactlyAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.constrain.exactly"
               icon="icons/constrain-exactly.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.constrain.exactly"
               label="Constrain Exactly"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.SwapAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
               icon="icons/swap.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
               label="Swap"
               menubarPath="plan/drudgery"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
      </editorContribution>
   </extension>
-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:plan?after=alignmentActions">
         <menu
               id="alignment"
               label="Alignment">
               <dynamic
                     id="alignment.menu"
                     class="gov.nasa.ensemble.core.plan.editor.drudgery.contributor.DrudgeryMenuCommandContributor">
               </dynamic>
            <separator
                  name="stuff">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
       point="org.eclipse.ui.bindings">
       <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
             carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="["/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="]"/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressRightCommand"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="H">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressLeftCommand"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="G">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+C">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="="/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+="/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="."/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence=","/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.down"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="ARROW_DOWN"/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.down"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+ARROW_DOWN">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.left"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+ARROW_LEFT">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.right"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+ARROW_RIGHT">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.up"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="ARROW_UP">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.select.up"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+ARROW_UP"/>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="`">
       </key>
       <key
             commandId="org.eclipse.ui.edit.text.openLocalFile"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+O">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.move"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Ctrl+Shift+M">
       </key>
       <key
             commandId="gov.nasa.ensemble.core.plan.editor.drudgery.move"
             contextId="timeline"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M">
       </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Move Selected"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.move"
            name="Move Selected"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.MoveSelectedHandler">
      </command>
      <command
            description="Align to Start"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
            name="Align to Start"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToStartHandler">
      </command>
      <command
            description="Align to End"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
            name="Align to End"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToEndHandler">
      </command>
      <command
            description="Distribute Evenly"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
            name="Distribute Evenly"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeEvenlyHandler">
      </command>
      <command
            description="Distribute By"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
            name="Distribute By"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeByHandler">
      </command>
      <command
            description="Compress Right"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.compressRightCommand"
            name="Compress Right"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.CompressRightHandler">
      </command>
      <command
            description="Compress Left"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.compressLeftCommand"
            name="Compress Left"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.CompressLeftHandler">
      </command>
      <command
            description="Copy Many Times"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
            name="Copy Many Times"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.CopyManyTimesHandler">
      </command>
      <command
            description="Swap"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
            name="Swap"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.SwapHandler">
      </command>
      <command
            description="Hop Left"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
            name="Hop Left"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.HopLeftHandler">
      </command>
      <command
            description="Hop Right"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
            name="Hop Right"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.HopRightHandler">
      </command>
      <command
            description="Select Up"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.select.up"
            name="Select Up">
      </command>
      <command
            description="Select Down"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.select.down"
            name="Select Down">
      </command>
      <command
            description="Select Right"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.select.right"
            name="Select Right">
      </command>
      <command
            description="Select Left"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.select.left"
            name="Select Left">
      </command>
      <command
            categoryId="gov.nasa.ensemble.core.plan.editor.category"
            id="gov.nasa.ensemble.plan.order.ascending"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.drudgery.OrderEventsAscendingHandler"
            name="Reorder by Time">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.move"
            icon="icons/move-activities.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
            icon="icons/align-start.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
            icon="icons/align-end.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
            icon="icons/distr-even.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
			icon="icons/distr-x.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
            icon="icons/swap.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
            icon="icons/hop_left.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
            icon="icons/hop_right.png">
      </image>   
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressLeftCommand"
            icon="icons/compress-left-icon.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressRightCommand"
            icon="icons/compress-right-icon.png">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
             icon="icons/clone.png">
      </image>
       <image
            commandId="gov.nasa.ensemble.plan.order.ascending"
            icon="icons/order_by_start_time.png">
      </image>
   </extension>
   <extension
	      point="org.eclipse.ui.menus">
	      <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=gov.nasa.arc.spife.core.plan.editor.timeline.toolbar">
             <toolbar
                   id="gov.nasa.ensemble.core.plan.editor.drudgery.toolbar"
                   label="Drudgery Saving Actions">
                   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.move"
            			label="Move Selected"
            			style="push"
            			tooltip="Move Selected">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
            			label="Align to Start"
            			style="push"
            			tooltip="Align to Start">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
            			label="Align to End"
            			style="push"
            			tooltip="Align to End">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
            			label="Distribute By"
            			style="push"
            			tooltip="Distribute By">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
            			label="Swap"
            			style="push"
            			tooltip="Swap">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressLeftCommand"
            			label="Compress Left"
            			style="push"
            			tooltip="Compress Left">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.compressRightCommand"
            			label="Compress Right"
            			style="push"
            			tooltip="Compress Right">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
            	   <command
            			commandId="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
            			label="Copy Many Times"
            			style="push"
            			tooltip="Copy Many Times">
               			<visibleWhen
                     		checkEnabled="false">
                  				<with
                        			variable="activeContexts">
                     				<iterate
                           				operator="or">
                        			<equals
                              			value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        			</equals>
                     				</iterate>
                  				</with>
               			</visibleWhen>
            	   </command>
                   <dynamic
                         id="gov.nasa.ensemble.core.plan.editor.drudgery.toolbar.items"
                         class="gov.nasa.ensemble.core.plan.editor.drudgery.contributor.DrudgeryToolbarCommandContributor">
                   	<visibleWhen
                         checkEnabled="false">
                        <with
							variable="activeContexts">
							<iterate operator="or">
								<equals
									value="gov.nasa.ensemble.core.plan.editor.drudgery.actionSet">
								</equals>
							</iterate>
						</with>
                   </visibleWhen>
                   </dynamic>
             </toolbar>
	      </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="A spiffy new way to save planning effort"
            id="gov.nasa.ensemble.core.plan.editor.drudgery.actionSet"
            label="Plan Drudgery Savers">
         <!--<action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.CopyManyTimesAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.copy.multiple"
               icon="icons/clone.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action6"
               label="Copy Many Times"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.CompressRightAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.compressRightCommand"
               icon="icons/compress-right-icon.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.CompressRightAction"
               label="Compress Right"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.CompressLeftAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.compressLeftCommand"
               icon="icons/compress-left-icon.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.CompressLeftAction"
               label="Compress Left"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.HopLeftAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.left"
               icon="icons/hop_left.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action11"
               label="Hop Left"
               menubarPath="plan/alignment/stuff"
               style="push">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.HopRightAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.hop.right"
               icon="icons/hop_right.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action10"
               label="Hop Right"
               menubarPath="plan/alignment/stuff"
               style="push">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.SwapAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.swap"
               icon="icons/swap.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action1"
               label="Swap"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeByAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.x"
               icon="icons/distr-x.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action4"
               label="Distribute By"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.DistributeEvenlyAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.distribute.evenly"
               icon="icons/distr-even.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action5"
               label="Distribute Evenly"
               menubarPath="plan/alignment/stuff"
               style="push">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToEndAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.align.end"
               icon="icons/align-end.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action8"
               label="Align to End"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.AlignToStartAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.align.start"
               icon="icons/align-start.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.action7"
               label="Align to Start"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>
         <action
               class="gov.nasa.ensemble.core.plan.editor.drudgery.MoveSelectedAction"
               definitionId="gov.nasa.ensemble.core.plan.editor.drudgery.move"
               icon="icons/move-activities.png"
               id="gov.nasa.ensemble.core.plan.editor.drudgery.offset.action"
               label="Move Selected"
               menubarPath="plan/alignment/stuff"
               style="push"
               toolbarPath="plan/drudgery">
         </action>-->
      </actionSet>
   </extension>
   <!--<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.nasa.ensemble.core.plan.editor.drudgery.OrderEventsAscendingHandler"
            commandId="gov.nasa.ensemble.plan.order.ascending">
      </handler>
   </extension>-->
   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="gov.nasa.ensemble.core.plan.editor.drudgery.actionSet">
         <part id="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="gov.nasa.ensemble.core.plan.editor.drudgery.Activator">
      </startup>
   </extension>
</plugin>
