<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!--******************************-->
   <!-- Extension point declarations -->
   <!--******************************-->

   <extension-point id="PlanEditor" name="PlanEditor" schema="schema/PlanEditor.exsd"/>
   <extension-point id="PlanTransferableExtension" name="PlanTransferableExtension" schema="schema/PlanTransferableExtension.exsd"/>
   <extension-point id="PlanRole" name="PlanRole" schema="schema/PlanRole.exsd"/>
   <extension-point id="PlanStateRoleAssociation" name="PlanStateRoleAssociation" schema="schema/PlanStateRoleAssociation.exsd"/>

   <extension point="gov.nasa.ensemble.common.IEnsemblePluginTest">
      <IEnsemblePluginTest class="gov.nasa.ensemble.tests.core.plan.editor.AllPlanEditorTests"/>
   </extension>

   <!--***********************-->
   <!-- Preference Extensions -->
   <!--***********************-->

   <extension point="gov.nasa.ensemble.common.TransferProvider">
      <provider class="gov.nasa.ensemble.core.plan.editor.transfers.PlanContainerTransferProvider"/>
	  <provider class="gov.nasa.ensemble.core.plan.editor.transfers.ActivityTransferProvider"/>
	  <provider class="gov.nasa.ensemble.core.plan.editor.transfers.ActivityDefTransferProvider"/>
	  <provider class="gov.nasa.ensemble.core.plan.editor.transfers.HTMLTransferProvider"/>
   </extension>
   <extension
         point="gov.nasa.ensemble.core.plan.PlanEditApprover">
      <PlanEditApproverExtension
            class="gov.nasa.ensemble.core.plan.editor.ReadOnlyEditApprover"
            id="ReadOnlyEditApprover"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="plan"
            id="gov.nasa.ensemble.core.plan.contentType"
            name="Plan"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="gov.nasa.ensemble.core.plan.editor.inPlanContext">
         <with
               variable="activeEditor">
            <instanceof
                  value="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor">
            </instanceof>
         </with>
      </definition>
   </extension>

   <extension
         id="temporalmarker"
         name="Temporal"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="startTime">
      </attribute>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="duration">
      </attribute>
   </extension>
   <extension
         id="overlaymarker"
         name="Overlay"
         point="org.eclipse.core.resources.markers">
      <super
            type="gov.nasa.ensemble.core.plan.editor.temporalmarker">
      </super>
            <attribute
            name="color">
      </attribute>
            <persistent
                  value="false">
            </persistent>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="gov.nasa.ensemble.core.plan.editor.preferences.PlanEditorPreferenceInitializer"/>
   </extension>
	<extension
          point="org.eclipse.search.searchPages">
       <page
             class="gov.nasa.ensemble.core.plan.editor.search.PlanSearchPage"
             icon="icons/search_src.gif"
             id="gov.nasa.ensemble.core.plan.editor.OpenPlanSearchPage"
             label="Open Plan Search"
             sizeHint="650, 360"
             tabPosition="0">
       </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
       <viewPage
             class="gov.nasa.ensemble.core.plan.editor.search.PlanSearchResultPage"
             id="gov.nasa.ensemble.core.plan.editor.PlanSearchResultPage"
             label="gov.nasa.ensemble.core.plan.editor.PlanSearchResultPage"
             searchResultClass="gov.nasa.ensemble.core.plan.editor.search.PlanSearchResult">
       </viewPage>
    </extension>

   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="core.plan.editor.PlanEditorActionSet">
         <part id="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor"/>
	  </actionSetPartAssociation>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
		<actionSet
	        description="A plan action set. Menu contains a placeholder action for adding new activities and an action for adding new activity groups"
	        id="core.plan.editor.PlanEditorActionSet"
	        label="Plan Editor Action Set">
			<action
		       	allowLabelUpdate="true"
		       	icon="icons/new_activity_group.gif"
		       	id="gov_nasa_ensemble_core_plan_editor_newActivityGroupRetarget"
		       	label="Add Activity Group"
		       	menubarPath="plan/groupActions"
		       	retarget="true"
		       	toolbarPath="plan/groupActions"
		       	tooltip="Add Activity Group"/>
		   <action
		        class="gov.nasa.ensemble.core.plan.editor.actions.NewPlanViewAction"
		        id="newPlanView"
		        label="New Plan &amp;View"
		        menubarPath="window/additions"
		        style="push"/>
     	<!--<action
           class="gov.nasa.ensemble.core.plan.editor.actions.OpenPlanSearchAction"
           definitionId="gov.nasa.ensemble.core.plan.editor.open.plan.search"
           icon="icons/search_src.gif"
           id="OpenPlanSearch"
           label="Open Plan Search"
           menubarPath="edit/additions"
           style="push"
           tooltip="Open Plan Search">
     </action>-->
			<action id="gov_nasa_ensemble_core_plan_editor_expandAllRetarget"
			    label="Expand all"
			    tooltip="Expand all"
			    icon="icons/expandall.png"
			    allowLabelUpdate="true"
			    retarget="true"
			    menubarPath="plan/hierarchyActions"/>
   <action
         allowLabelUpdate="true"
         icon="icons/collapseall.png"
         id="gov_nasa_ensemble_core_plan_editor_collapseAllRetarget"
         label="Collapse all"
         menubarPath="plan/hierarchyActions"
         retarget="true"
         tooltip="Collapse all">
   </action>
			<action
                id="nextEditorPageAction"
                class="gov.nasa.ensemble.core.plan.editor.actions.NextEditorPageAction"
                definitionId="gov.nasa.ensemble.core.plan.editor.page.next"
                label="Next editor page"/>
			<action
                id="prevEditorPageAction"
                class="gov.nasa.ensemble.core.plan.editor.actions.PreviousEditorPageAction"
                definitionId="gov.nasa.ensemble.core.plan.editor.page.previous"
                label="Previous editor page"/>
		</actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
               carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
            sequence="M1+F5"
            commandId="gov.nasa.ensemble.core.plan.editor.page.next"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+F5"
            commandId="gov.nasa.ensemble.core.plan.editor.page.previous"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+M2+F"
            commandId="gov.nasa.ensemble.core.plan.editor.open.plan.search"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="PlanEditor"
            description="Plan editor commands"
            id="gov.nasa.ensemble.core.plan.editor.category"/>
      <command
            name="Next Editor Page"
            description="Go to the next page in the current editor"
            categoryId="gov.nasa.ensemble.core.plan.editor.category"
            id="gov.nasa.ensemble.core.plan.editor.page.next"/>
      <command
            name="Previous Editor Page"
            description="Go to the previous page in the current editor"
            categoryId="gov.nasa.ensemble.core.plan.editor.category"
            id="gov.nasa.ensemble.core.plan.editor.page.previous"/>
      <command
            defaultHandler="gov.nasa.ensemble.core.plan.editor.ValidatePlanHandler"
            id="gov.nasa.ensemble.core.plan.editor.validatePlan"
            name="Validate Plan">
      </command>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor"
            contributorClass="gov.nasa.ensemble.core.plan.editor.contributor.MultiPagePlanEditorContributor"
            default="true"
            icon="icons/plan_editor.gif"
            id="gov.nasa.ensemble.core.plan.editor.MultiPagePlanEditor"
            name="Ensemble Plan Editor">
         <contentTypeBinding
               contentTypeId="gov.nasa.ensemble.core.plan.contentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanElementEditor"
            contributorClass="gov.nasa.ensemble.common.ui.editor.BasicEnsembleEditorActionBarContributor"
            default="true"
            icon="icons/template_plan_view.gif"
            id="gov.nasa.ensemble.core.plan.editor.template.plan"
            name="Template Plan Element Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="plan"
            name="Plan">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="plan"
               label="&amp;Plan">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="gov.nasa.ensemble.core.plan.editor.inPlanContext">
               </reference>
            </visibleWhen>
            <separator
                  name="groupActions"
                  visible="true">
            </separator>
            <separator
                  name="constraints"
                  visible="true">
            </separator>
            <separator
                  name="alignmentActions"
                  visible="true">
            </separator>
            <separator
                  name="hierarchyActions"
                  visible="true">
            </separator>
            <separator
                  name="moveGuideActions"
                  visible="true">
            </separator>
            <separator
                  name="resourceActions"
                  visible="true">
            </separator>
            <separator
                  name="timeline"
                  visible="true">
            </separator>
             <separator
                  name="table"
                  visible="true">
            </separator>
            <separator
                  name="external"
                  visible="true">
            </separator>
            <separator
                  name="planSearch"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
	  <menuContribution
             locationURI="menu:plan?after=planSearch">
             <dynamic
                   id="gov.nasa.ensemble.core.plan.editor.menu"
                   class="gov.nasa.ensemble.core.plan.editor.actions.PlanEditorMenuCommandContributor">
             </dynamic>
	  </menuContribution>
      <menuContribution
            locationURI="menu:developer">
         <command
               commandId="gov.nasa.ensemble.core.plan.editor.validatePlan"
               label="Validate Plan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="gov.nasa.ensemble.core.plan.editor.inPlanContext">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Plans"
            id="gov.nasa.ensemble.core.plan.editor">
      </category>
      <wizard
            canFinishEarly="false"
            category="gov.nasa.ensemble.core.plan.editor"
            class="gov.nasa.ensemble.core.plan.editor.lifecycle.NewPlanResourceWizard"
            icon="icons/new_plan.gif"
            id="gov.nasa.ensemble.core.plan.editor.NewPlanResourceWizard"
            name="Plan File"
            project="false">
         <description>
            Create a new Plan File resource
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="gov.nasa.ensemble.core.plan.editor.preferences.PlanEditorPreferencePage"
            id="PlanEditorPreferencePage"
            name="Plan Editor"/>
   </extension>

   <!--****************-->
   <!-- I/O Extensions -->
   <!--****************-->

   <!--********************-->
   <!-- Command Extensions -->
   <!--********************-->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="gov.nasa.ensemble.core.plan"
            class="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanView"
            icon="icons/template_plan_view.gif"
            id="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanView"
            name="Templates"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="gov.nasa.ensemble.core.plan.editor.popup.newplanfile"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="gov.nasa.ensemble.core.plan.editor.actions.NewPlanResourceAction"
               enablesFor="1"
               icon="icons/new_plan.gif"
               id="gov.nasa.ensemble.core.plan.editor.action1"
               label="Plan File"
               menubarPath="file/new.ext/additions">
         </action>
      </objectContribution>
   </extension>

   <!--*******************-->
   <!-- Search Extensions -->
   <!--*******************-->

  	<!--*****************-->
  	<!-- Misc Extensions -->
  	<!--*****************-->

   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="gov.nasa.ensemble.core.plan.editor.util.EMFLinkHelper"
            id="gov.nasa.ensemble.core.plan.EMFLinkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.IEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
       <viewContribution
          id="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanView.viewContribution"
          targetID="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanView">
       <action
             class="gov.nasa.ensemble.core.plan.editor.view.template.actions.TemplatePlanViewDeleteItemAction"
             enablesFor="+"
             icon="icons/trash.png"
             id="gov.nasa.ensemble.core.plan.editor.view.template.actions.TemplatePlanViewDeleteItemAction"
             label="Delete"
             style="push"
             toolbarPath="toolbar">
          <enablement>
             <not>
                <or>
                   <objectClass
                         name="org.eclipse.ui.IEditorPart">
                   </objectClass>
                   <objectClass
                         name="gov.nasa.ensemble.core.plan.editor.view.template.TemplatePlanViewIgnorable">
                   </objectClass>
                </or>
             </not>
          </enablement>
       </action>
       <action
             class="gov.nasa.ensemble.core.plan.editor.view.template.actions.TemplatePlanViewDuplicateAction"
             enablesFor="+"
             icon="icons/duplicate.png"
             id="gov.nasa.ensemble.core.plan.editor.view.template.actions.TemplatePlanViewDuplicateAction"
             label="Duplicate"
             style="push"
             toolbarPath="toolbar">
          <enablement>
             <objectClass
                   name="gov.nasa.ensemble.core.model.plan.EActivity">
             </objectClass>
          </enablement>
       </action>
    </viewContribution>
  </extension>
  <extension point="org.eclipse.core.expressions.definitions">
  <definition
            id="gov.nasa.ensemble.core.model.plan.oneResourceSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension point="org.eclipse.ui.handlers">
   <handler 
   		class="gov.nasa.ensemble.core.plan.editor.actions.RenamePlanProjectHandler"
            commandId="org.eclipse.ltk.ui.refactoring.commands.renameResource">
         <activeWhen>
            <reference
                  definitionId="gov.nasa.ensemble.core.model.plan.oneResourceSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
               id="gov.nasa.ensemble.core.plan.editor.open.plan.search"
               name="Open Plan Search"
               defaultHandler="gov.nasa.ensemble.core.plan.editor.actions.OpenPlanSearchHandler">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.open.plan.search"
            icon="icons/search_src.gif">
      </image>
   </extension>
   <extension
         point="gov.nasa.ensemble.common.ClassRegistry">
      <lookup
            class="gov.nasa.ensemble.core.plan.editor.search.IPlanSearchProvider">
         <implementation
               class="gov.nasa.ensemble.core.plan.editor.search.DiffIdPlanSearchProvider">
         </implementation>
      </lookup>
   </extension>
</plugin>
