<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="gov.nasa.ensemble.common.ClassRegistry">
      <lookup
            class="gov.nasa.ensemble.dictionary.ActivityDictionaryContributor">
         <implementation
               class="gov.nasa.ensemble.dictionary.nddl.ModelGeneratorActivityDictionaryContributor">
         </implementation>
      </lookup>
   </extension>
   <extension
         id="transform"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="gov.nasa.ensemble.dictionary.nddl.Test">
         </run>
      </application>
   </extension>

</plugin>
