<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="IMergeColumnProvider" name="IMergeColumnProvider" schema="schema/IMergeColumnProvider.exsd"/>
   <extension
         point="gov.nasa.ensemble.core.plan.editor.PlanEditor">
      <planEditorExtension
            class="gov.nasa.ensemble.core.plan.editor.merge.MergeEditor"
            id="gov.nasa.ensemble.core.plan.editor.merge.TreePlanEditor"
            name="TreePlanEditor"
            preferred_tab_position="2"
            tab_title="Table"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gov.nasa.ensemble.core.plan.editor.merge.preferences.MergeEditorPreferencePage"
            category="PlanEditorPreferencePage"
            id="mergeEditorPreferences"
            name="Table"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="gov.nasa.ensemble.core.plan.editor.merge.preferences.MergeEditorPreferenceInitializer"/>
   </extension>
   <extension
         point="gov.nasa.ensemble.core.plan.editor.merge.IMergeColumnProvider">
      <IMergeColumnContentProvider class="gov.nasa.ensemble.core.plan.editor.merge.columns.ResourceMergeColumnProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.nasa.ensemble.core.plan.editor.category"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.merge.action.FlattenHierarchyHandler"
            description="Toggle the table editor between showing all hierarchy and showing only activities"
            id="gov.nasa.ensemble.core.plan.editor.merge.toggle_flatten"
			name="Flatten Hierarchy">
            <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="gov.nasa.ensemble.core.plan.editor.category"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.merge.action.TableEditorPreferencePageHandler"
            id="gov.nasa.ensemble.core.plan.editor.merge.table_preferences"
            name="Open Table View Preferences">
      </command>
      <command
            id="gov.nasa.ensemble.core.plan.editor.merge.row.highlight"
            defaultHandler="gov.nasa.ensemble.core.plan.editor.merge.action.ShowRowHighlightHandler"
            description="Toggle the row highlight for table editors."
			name="Show Row Highlight">
            <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         	</state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.merge.toggle_flatten"
            icon="icons/hierarchy_flatten.gif">
      </image>
      <image
            commandId="gov.nasa.ensemble.core.plan.editor.merge.row.highlight"
            icon="icons/rainbow.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="gov.nasa.ensemble.core.plan.editor.merge.table_preferences"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
   </extension>
   <extension
         point="gov.nasa.ensemble.common.ClassRegistry">
      <lookup
            class="gov.nasa.ensemble.emf.EnsembleResourceFactory">
         <implementation
               class="gov.nasa.ensemble.core.plan.editor.merge.configuration.ColumnConfigurationResourceFactory">
         </implementation>
      </lookup>
   </extension>
    <extension
         point="gov.nasa.ensemble.common.ClassRegistry">
     <lookup
         	class="gov.nasa.ensemble.common.ui.workspace.FilterExtensionProvider">
         <implementation
               class="gov.nasa.ensemble.core.plan.editor.merge.configuration.TableFileFilterProvider">
         </implementation>
      </lookup>
    </extension>
    <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="plan"
            name="Plan">
      </category>
      <wizard
            category="gov.nasa.ensemble.core.reports"
            class="gov.nasa.ensemble.core.plan.editor.merge.export.CSVPlanExportWizard"
            icon="icons/csv.png"
            id="gov.nasa.ensemble.core.plan.editor.merge.export.CSVPlanExportWizard"
            name="Plan as CSV Spreadsheet">
      </wizard>
      <wizard
            category="gov.nasa.ensemble.core.reports"
            class="gov.nasa.ensemble.core.plan.editor.merge.export.ExcelPlanExportWizard"
            icon="icons/excel.png"
            id="gov.nasa.ensemble.core.plan.editor.merge.export.ExcelPlanExportWizard"
            name="Plan as Excel Spreadsheet">
      </wizard>
      <wizard
            category="gov.nasa.ensemble.core.reports"
            class="gov.nasa.ensemble.core.plan.editor.merge.export.CSVResourceSummaryExportWizard"
            icon="icons/csv.png"
            id="gov.nasa.ensemble.core.plan.editor.merge.export.CSVResourceSummaryExportWizard"
            name="Resource summary as CSV Spreadsheet">
      </wizard>
      <wizard
            category="gov.nasa.ensemble.core.reports"
            class="gov.nasa.ensemble.core.plan.editor.merge.export.ExcelResourceSummaryExportWizard"
            icon="icons/excel.png"
            id="gov.nasa.ensemble.core.plan.editor.merge.export.ExcelResourceSummaryExportWizard"
            name="Resource summary as Excel Spreadsheet">
      </wizard>
    </extension>
    <extension
         point="gov.nasa.ensemble.common.ClassRegistry">
      <lookup
            class="gov.nasa.ensemble.core.plan.editor.merge.IRuntimeMergeColumnProvider">
         <implementation
               class="gov.nasa.ensemble.core.plan.editor.merge.columns.PlanHierarchyPositionColumnProvider">
         </implementation>
      </lookup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=gov.nasa.arc.spife.core.plan.editor.timeline.toolbar">
               <toolbar
                     id="gov.nasa.ensemble.core.plan.editor.merge.toolbar">
                     <command
            			commandId="gov.nasa.ensemble.core.plan.editor.merge.toggle_flatten"
            			label="Flatten Hierarchy"
            			style="toggle"
            			tooltip="Flatten Hierarchy">
               			<visibleWhen
                     		checkEnabled="false">
                  			<with
                        		variable="activeContexts">
                     		<iterate
                           		operator="or">
                        		<equals
                             		value="gov.nasa.arc.spife.ui.timeline.tool.actionSet">
                        		</equals>
                     		</iterate>
                  			</with>
               			</visibleWhen>
            		</command>
               		<dynamic	
                    	 id="gov.nasa.ensemble.core.plan.editor.merge.toolbar.dynamic"
                     	class="gov.nasa.ensemble.core.plan.editor.merge.contributions.TableEditorToolbarCommandContributor">
                     	<visibleWhen
                            checkEnabled="false">
                            <reference
                                  definitionId="gov.nasa.ensemble.core.plan.editor.inPlanContext">
                            </reference>
                     	</visibleWhen>
               		</dynamic>
               </toolbar>
         </menuContribution>
         <menuContribution
             locationURI="menu:plan?after=table">
             <dynamic
                   id="gov.nasa.ensemble.core.plan.editor.merge.menu"
                   class="gov.nasa.ensemble.core.plan.editor.merge.contributions.TableEditorMenuCommandContributor">
             </dynamic>
	  </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
	<command
          defaultHandler="gov.nasa.ensemble.core.plan.editor.merge.action.OneOfEachRowDecoratorParameter"
          description="Instantiate an activity for each value of the Row Decorator Parameter"
          id="gov.nasa.ensemble.core.plan.editor.merge.action.OneOfEachRowDecoratorParameter"
          name="One of Each Row Highlight Decorator Value"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:developer">
         <command
               commandId="gov.nasa.ensemble.core.plan.editor.merge.action.OneOfEachRowDecoratorParameter"
               label="One of Each Row Highlight Decorator Value"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="gov.nasa.ensemble.core.plan.editor.inPlanContext">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
