<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="gov.nasa.ensemble.common.ClassRegistry">
		<lookup
			class="gov.nasa.ensemble.core.plan.resources.ConditionsProvider">
			<implementation
				class="gov.nasa.ensemble.core.plan.resources.ui.wizard.ResourceProfileConditionsProvider">
			</implementation>
		</lookup>
		<lookup
			class="gov.nasa.ensemble.core.plan.editor.merge.IRuntimeMergeColumnProvider">
			<implementation
				class="gov.nasa.ensemble.core.plan.resources.ui.profile.table.PlanProfileColumnProvider">
			</implementation>
		</lookup>
	</extension>
	<extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="gov.nasa.ensemble.core.plan.resources.ui.profile.provider.ProfileItemProviderAdapterFactoryExt"
            uri="platform:/gov.nasa.ensemble.core.plan.resources/model/ResourceProfile.ecore"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               gov.nasa.ensemble.core.detail.emf.treetable.IEMFTreeTableProvider"/>
	<factory
           class="gov.nasa.ensemble.core.plan.resources.ui.profile.provider.ProfileDetailProviderAdapterFactory"
           uri="platform:/resource/gov.nasa.ensemble.core.jscience/model/JScience.ecore"
           supportedTypes="gov.nasa.ensemble.core.detail.emf.IDetailProvider"/>
	</extension>
	 <extension point="org.eclipse.ui.importWizards">
      <category name="Plan" id="plan"/>
      <wizard
            category="plan"
            class="gov.nasa.ensemble.core.plan.resources.ui.wizard.ConditionsImportWizard"
            id="ConditionsImportWizard"
            name="INCON"
            icon="platform:/plugin/gov.nasa.ensemble.common.ui/icons/generic_file_type.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="plan"
            class="gov.nasa.ensemble.core.plan.resources.ui.wizard.ConditionsExportWizard"
            icon="platform:/plugin/gov.nasa.ensemble.common.ui/icons/generic_file_type.gif"
            id="ConditionsExportWizard"
            name="FINCON">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <category
            name="Planning"
            id="gov.nasa.ensemble.core.plan">
      </category>
      <view
            category="gov.nasa.ensemble.core.plan"
            class="gov.nasa.ensemble.core.jscience.ui.profile.tree.ProfileTreeView"
            icon="icons/resource_profile_part.gif"
            id="gov.nasa.ensemble.core.jscience.ui.profile.tree.ProfileTreeView"
            name="Profiles"
            restorable="true">
      </view>
      <view
            name="Incons"
            icon="icons/resource_condition_incon.png"
            category="gov.nasa.ensemble.core.plan"
            class="gov.nasa.ensemble.core.plan.resources.ui.view.InconsView"
            id="gov.nasa.ensemble.core.plan.resources.ui.view.InconsView">
      </view>
   </extension>
      <extension
            point="org.eclipse.ui.viewActions">
         <viewContribution
               id="gov.nasa.ensemble.core.plan.resources.ui.InconViewContribution"
               targetID="gov.nasa.ensemble.core.plan.resources.ui.view.InconsView">
            <action
                  class="gov.nasa.ensemble.core.plan.resources.ui.view.DeleteInconsAction"
                  icon="icons/trash.png"
                  id="gov.nasa.ensemble.core.plan.resources.ui.incon.remove"
                  label="Delete"
                  style="push"
                  toolbarPath="toolbar">
               <enablement>
             		<objectClass
                   		name="gov.nasa.ensemble.core.plan.resources.member.Conditions">
             		</objectClass>
          	   </enablement>
            </action>
         </viewContribution>
      </extension>
</plugin>
