<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ModelChangedListener" name="ModelChangedListener" schema="schema/ModelChangedListener.exsd"/>
   <extension-point id="ConsistencyMaintenanceListener" name="ConsistencyMaintenanceListener" schema="schema/ConsistencyMaintenanceListener.exsd"/>
   <extension
         point="gov.nasa.ensemble.common.IEnsemblePluginTest">
      <IEnsemblePluginTest
            class="gov.nasa.ensemble.emf.AllEMFTests">
      </IEnsemblePluginTest>
   </extension>
   <extension
         id="util.DottyRenderer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run class="gov.nasa.ensemble.emf.util.DottyRenderer"/>
      </application>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="platform:/resource/gov.nasa.ensemble.emf/model/Common.ecore"
            class="gov.nasa.ensemble.emf.model.common.provider.CommonItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      <factory
            class="gov.nasa.ensemble.emf.model.common.provider.CommonItemProviderAdapterFactory"
            uri="platform:/plugin/gov.nasa.ensemble.emf/model/Common.ecore"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/gov.nasa.ensemble.emf/model/Common.ecore"
            class="gov.nasa.ensemble.emf.model.common.CommonPackage"
            genModel="model/Common.genmodel"/>
      <package
            class="gov.nasa.ensemble.emf.model.common.CommonPackage"
            genModel="model/Common.genmodel"
            uri="platform:/plugin/gov.nasa.ensemble.emf/model/Common.ecore">
      </package>
   </extension>
   
 <extension point="gov.nasa.ensemble.common.IStringifier">
  <IStringifier
        class="gov.nasa.ensemble.emf.stringifier.URIStrigifier"
        name="ProjectURIStrigifier">
     <stringifierByClass
           typeAsClass="org.eclipse.emf.common.util.URI">
     </stringifierByClass>
  </IStringifier>
 </extension>
     <extension
         point="gov.nasa.ensemble.common.MissionExtension">
      <MissionExtension
            MissionIndependentClass="gov.nasa.ensemble.emf.transaction.TransactionEditingDomainFactory"
            MissionSpecificClass="gov.nasa.ensemble.emf.transaction.UITransactionEditingDomainFactory"
            id="UITransactionEditingDomainFactory">
      </MissionExtension>
   </extension>
   
</plugin>
